section {
    --bstats-filter: invert(0%);
}

:root {
    --vp-c-brand-1: #0076c7;
    --vp-c-brand-2: #ADD8E6;

    --vp-c-indigo-1: #8ec5f6;
    --vp-c-indigo-2: #0b94ee;
    --vp-c-indigo-3: #0076c7;
    --vp-c-indigo-soft: rgba(0, 118, 199, 0.18);

    --bstats-filter: invert(0);
}

.bstats {
    filter: var(--bstats-filter);
}

:root.dark {
    --vp-c-brand-1: #87CEFA;
    --vp-c-brand-2: #ADD8E6;

    --vp-c-indigo-1: #8ec5f6;
    --vp-c-indigo-2: #0b94ee;
    --vp-c-indigo-3: #0076c7;
    --vp-c-indigo-soft: rgba(0, 118, 199, 0.18);

    --vp-c-bg: #1b1b1b;
    --vp-c-bg-alt: #222222;
    --vp-c-bg-elv: #1b1b1b;
    --vp-c-bg-soft: #222222;

    --bstats-filter: invert(89.5%);
}

:root {
    --vp-custom-block-tip-bg: rgba(0, 140, 227, 0.27);
    --vp-custom-block-tip-code-bg: rgba(1, 137, 210, 0.19);
}

img {
    border-radius: 12px;
}