@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, sans-serif;
    background-color: #131313;
    color: rgb(255, 255, 255);
    
    
}
.helper {
    
    transition: 10ms;
    background-color: #2424249a;
    height: 100%;
    position: absolute;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    top: 0;
    animation: appearance 0.2s forwards;
}
.preview {
    position: absolute;
    bottom: 2.5vw;
    width: 42%;
    height: 45%;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
}
.preview1 {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.concealment {
    animation: concealment 0.2s forwards;
}
@keyframes concealment {
    from {opacity: 1;}
    to {opacity: 0;}
    
}
@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}
a {
    text-decoration: none;
}
.button {
    color: white;
    background-color: #0065d9;
    padding: 0.4vw;
    margin-right: 0.2vw;
    display: inline-flex;
    border: none;
    
    transition: 0.1s;
    border-radius: .7vw;
}
.logo {
    width: 20vw;
}
.download-button{
    font-size: 1.1vw;
    width: auto;
    height: 2.3vw;
    margin-bottom: 0.5vw;
    padding: 0;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color: #0077ff;
    cursor: pointer;
}
.link {
    background-color: #353535;
}
.link:hover {
    background-color: #444444;
}
.donate {
    background-color: #e1a500;
}
.donate:hover {
    background-color: #ebb00e;
}
.link-img {
    width: 2vw;
}

main {
    height: 100vh;
    background-image: url("https://flectone.net/res/all.png");
    background-position: 0px;
    display: flex;
    align-items: center;
    justify-content: center;  
    animation: backgroundAnimation 40s infinite linear; 
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -100vw;
    }
}
.title {
    text-align: center;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.example {
    border-radius: 1vw;
    width: 61vw;
    height: 34vw;
    position: relative;
    background-color: #171717;
    box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.414);
    display: flex;
    background-image: url("https://flectone.net/res/optimization-background-black.png");
    background-size: 1200px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    flex-direction: row-reverse;
}
.example-text {
    height: 2vw;
    width: 61vw;
    text-align: center;
    
}
.example-select {
    width: 44%;
    color: rgb(255, 255, 255);
    height: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.example-items {
    width: 55%;
    padding: 0.7vw;
    background-color: #171717;
    flex-grow: 1;
    border-radius: 0 10px 10px 0px;
    box-shadow: -7px 0px 18px -8px rgba(0, 0, 0, 1);
}

.load{
    height: 29vw;
    border: 10px;
    width: 100%;
    
    overflow: scroll;
    overflow-x: hidden;
}
.loading {
    opacity: 0.1;
    overflow: hidden;
    display: flex;
    width: 100%;
    margin-bottom: 0.5vw;
    align-items: center;
}
.square {
    background-color: #838383;
    width: 5vw;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height: 5vw;
}
.line {
    height: 1vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    position: relative;
    margin-bottom: 0.5vw;
    overflow: hidden;
    z-index: -x;
    background-color: #838383;
    border-radius: 100px;
}

.l1 {
    width: 10vw;
}
.l2 {
    width: 26vw;
}
.blick {
    width: 3vw;
    height: 110%;
    position: absolute;
    left: -5vw;
    transform: rotate(10deg);
   
    filter: blur(10px);
    background-color: #ffffff;
    animation: blick 3s 2s infinite;
}
@keyframes blick {
    0% {
        left: -100px;
    }
    100% {
        left: 100vw;
    }
}

.search {
    height: 1.3vw;
    width: 15vw;
    display: inline-flex;
    margin-right: 0.1vw;
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    cursor: help;
    padding-left: 0.3vw;
    border-radius: 0.2vw;
    border: 0.08vw #444444 solid;
    background-color: #171717;
    color: rgb(140, 140, 140);
    font-size: 0.9vw;
    align-items: center;
}

.searchBtn {
    width: 6vw;
    justify-content: center;
    padding-left: 0;
    font-weight: 300;
    color: white;
}




.example-footer {
    background-color: #171717;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 6%;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
.example-footer select {
    width: 17%;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    cursor: help;
    color: white;
    height: 80%;
    background-color: #242424;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 5px;
}
.select {
    display: grid;
    margin-top: 15px;
    padding-bottom: 0;
    align-items: center;
    width: 100%;
    font-size: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:2fr 2fr 2fr;
}
.select select {
    background-color: #242424;
    color: white;
    margin-top: 8px;
    padding-left: 3px;
    cursor: help;
    border: 1px solid rgb(0, 0, 0);
    height: 1.12vw;
    font-size: .8vw;
    border-radius: 4px;
    margin-bottom: 8px;
}
.select h5,label {
    font-weight: 400;
    text-align: end;
    padding-right: 5px;
    font-size: .8vw;
}
.select label {
    font-size: 12px;
}

.checkbox {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox input{
    cursor: help;
    width: 1vw;
    background-color: #242424;
}
.select-checkboxes h5,label {
    font-weight: 400;
    text-align: end;
    padding-right: 5px;
}
.select-checkboxes{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 100;
}
.select-checkboxes input {
    cursor: help;
}

.select-buttons button{
    background-color: #242424;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px;
    align-items: center;
    margin: 2px 2px 0 2px;
    display: flex;
    transition: 0.01s;
}
.select-buttons {
    display: flex;
    height: 4%;
    margin-top: 8px;
    
}
.select-buttons button:hover{
    background-color: #3a3a3a;
    cursor: help;
    border: 1px solid #57b7ef;
}
#text {
    font-size: 1.7vw;
}
.download-block {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.mobile {
    display: none;
}
.footer-buttons {
    filter: invert(1);
}
@media only screen and (max-width: 1457px) {
    .example-text {
        font-size: 18px;
    }
    
}
@media only screen and (max-width: 1366px) {
    main {
        flex-direction: column;
        height: auto;

        margin-bottom: 20px;
    }
    .title {
        height: 100vh;
        width: 60vw;
    }
    .suka-kak-nazvat-ego {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .example {
        width: 80vw;
        height: 70vh;
    }
    .example-text {
        width: 80vw;
        font-size: 20px;
        margin-bottom: 15px;
    }

}
@media only screen and (max-width: 1007px) {
    main {
        flex-direction: column;
        margin: 0;
    }
    .example-text{
        display: none;
    }
    .example{
        display: none;
    }
    .suka-kak-nazvat-ego {
        height: auto;
    }
    .title {
        width: 80%;
    }
    .button {
        border-radius: 10px;
        height: auto;
    }
    .download-block button {
	font-size: 14px;
	padding: 5px;
    }
    .mobile {
        display: flex;
        flex-direction: row;
    }
    .download-button {
        display: flex;
        justify-content: center;
        width: auto;
    }
    #text{
        font-size: 20px;
        font-weight: bold;
    }
    .logo {
        width: 200px;
    }



}

